[Desktop Entry]
Type=Action
Tooltip=Batch rename selected files
Name=Batch Rename
Name[zh_CN]=批量重命名
Icon=document-edit
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=all/all;all/allfiles;inode/directory;
Exec=thunar -B %F
Name=Default profile
SelectionCount=>0

