[Desktop Entry]
Type=Action
Tooltip=Create Symbolic Link
Name=Create Symlink
Icon=emblem-symbolic-link
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=all/all;all/allfiles;inode/directory;
Exec=sh -c 'ln -s "$1" "$2/Link to $(basename "$1")"' -- %f %d
Name=Default profile
SelectionCount=1
