[Desktop Entry]
Type=Action
Tooltip=Generate thumbnails for selected videos and images
Name=Generate Thumbnails
Name[zh_CN]=生成预览图
Icon=image-x-generic
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=all/all;all/allfiles;inode/directory;
Exec=/home/syaofox/.config/mint-dwm/scripts/pcmanfm-generate-thumbnails.sh %F
Name=Default profile
SelectionCount=>0

