[Desktop Entry]
Type=Action
Tooltip=Move the selected files to a new folder
Name=Move to New Folder
Icon=folder-new
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=all/all;all/allfiles;inode/directory;text/plain;application/octet-stream;
Exec=/home/syaofox/.config/mint-dwm/scripts/pcmanfm-move-to-folder.sh %F
Name=Default profile
