[Desktop Entry]
Type=Action
Tooltip=Open Terminal Here
Name=Open Terminal Here
Icon=utilities-terminal
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=inode/directory;
Exec=sh -c 'cd "$1" && /home/syaofox/.config/mint-dwm/scripts/run-term.sh' -- %f
Name=Default profile
