[Desktop Entry]
Type=Action
Tooltip=Check selected files and remove duplicates
Name=Remove Duplicates
Name[zh_CN]=校验并删除重复项
Icon=edit-clear
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=all/allfiles;
Exec=/home/syaofox/.config/mint-dwm/scripts/remove-duplicates.sh %F
Name=Default profile
SelectionCount=>1

