[Desktop Entry]
Type=Action
Tooltip=Show detailed information about the video file
Name=Video Info (ffmpeg)
Icon=video-x-generic
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=video/*;
Exec=bash -c 'ffmpeg -i "$1" 2>&1 | zenity --text-info --title="视频信息 - $2" --width=700 --height=500 --font="Monospace 10"' -- %f %n
Name=Default profile

